<% if make_link %>
  <a class="user-chat-link" data-remote="true" href="/chat/<%= member.id %>">
<% end %>

  <div id="user-<%= member.id %>" class="member-card">
    <img class="member-photo" src="/images/male-icon.jpg">
    <div class="member-card-content">
        <div class="member-name">
          <span class="member-name-content"><%= member.name %></span>
          <div class="member-status" id="member-<%= member.status %>"></div>
        </div>
        <div class="member-info">
          <span class="member-email"><%= member.email %></span>
        </div>
    </div>
  </div>

<% if make_link %>
  </a>
<% end %>