<div class="chat">
  <div class="users-container">
    <header class="my-profile">
      <div id="user-<%= current_user.id %>" class="my-profile-card">
        <img class="my-profile-photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsOkwGFosI4sUe9Ka4TISnIFBNwApruJjzYmb_iYyI7F53zfas">
        <div class="my-profile-name">
            <span class="member-name"> <b> <%= current_user.name %> </b> </span>
            <div class="my-profile-links">
              <%= link_to image_tag("edit-profile-button.png"), edit_user_registration_path, :class => 'navbar-link' %>
              <%= link_to image_tag("logout-button.png"), destroy_user_session_path, method: :delete,  :class => 'navbar-link' %>
            </div>
        </div>
      </div>
    </header>

    <div class="search-container">
      <div class="search">
        <img class="search-icon" src="./images/search-icon.png">
        <input class="search-input" placeholder="Search" />
      </div>
    </div>

    <!--<div class="participants_container_head"> <span> Users Online </span> <a class="user-chat-link" data-remote="true" href="/chat/0"> Open Group Chat </a> <span id="members_count"> <%= @online_users.length %> </span></div>-->
    <!--<div class="members_list">-->
          <% @online_users.each do |member| %>
              <% render 'users', {member: member, make_link: false} %>
          <% end %>
    <!--</div>-->

    <!--<div class="users_container_head"> <span> All Users </span> <span id="users_count"> <% @all_users.length %> </span></div>-->
    <div class="users-list">
      <% @all_users.each do |member| %>
          <%= render 'users', {member: member, make_link: true} %>
      <% end %>
    </div>

  </div>
  <div class="chat-box-container">
    <%= render 'chatbox', {user: @user, messages: @messages} %>
  </div>

</div>
